.about-img {
  width: 100%;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
}

.about-text-container {
  font-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.achievements {
  padding-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.achievements hr {
  border: transparent;
  border-radius: 10px;
  width: 3px;
  background: linear-gradient(
    260deg,
    var(--primary-color) 10%,
    var(--secondary-color) 100%
  );
}

.achievement {
  padding: 20px 0px;
  text-align: center;
}

.achievement h1 {
  font-size: 48px;
}

.achievement p {
  margin-top: 10px;
  font-size: 24px;
}

.about-skills-container {
  padding-top: 50px;
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}

.skill {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--ternary-color);
  padding: 12px 16px;
  border-radius: 10px;
  font-size: 18px;
}

.skill-light {
  background-color: var(--light-ternary-color);
}

.skill:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
  .about-grid {
    grid-template-columns: 1fr;
  }

  .achievements {
    flex-direction: column;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .about-grid {
    grid-template-columns: 1fr;
  }
}
