.scroll-to-top {
    position: fixed;
    right: 5%;
    bottom: 10%;
    display: none;
    transition: all .5s ease-in-out;
}

.scroll-button {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: var(--primary-color);

    display: flex;
    align-items: center;
    justify-content: center;
}