.navbar {
  height: 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  z-index: 2;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.logo {
  text-decoration: none;
  color: inherit;
}

.navbar-light {
  background-color: var(--light-primary-background-color);
  color: var(--light-primary-text-color);
}

.navbar > .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav-menu-light {
  background-color: transparent;
}

.nav-item {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.nav-mob-open,
.nav-mob-close {
  display: none;
}

@media only screen and (max-width: 768px) {
  .logo {
    font-size: 1rem;
  }

  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
  }

  .nav-mob-close {
    display: block;
    position: relative;
    top: 3%;
    right: -40%;
    width: 30px;
  }

  .nav-menu {
    background-color: var(--ternary-color);
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    right: -100%;
    gap: 30px;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: right 0.5s;
  }

  .nav-menu-light {
    background-color: var(--light-ternary-color);
  }
}
