:root {
  /* --primary-color: rgba(0, 187, 248);
  --secondary-color: rgba(0, 245, 212); */
  /* 706e5c */

  --primary-color: #b5ad97;
  --secondary-color: #978d6b;

  --ternary-color: #28282b;
  --primary-background-color: #333;
  --primary-text-color: #fff;

  --light-primary-background-color: #f8f8f8;
  --light-primary-text-color: #333;
  --light-ternary-color: rgb(249 250 251);
}

.light {
  background-color: #e7e7e7;
  color: var(--light-primary-text-color);
  --primary-color: hsla(216, 96%, 56%, 1);
  --secondary-color: hsla(178, 64%, 65%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  font-family: Source Code Pro, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-size: 18px;
}

section {
  margin-top: 130px;
}

.gradient-text {
  background: linear-gradient(
    to left,

    var(--secondary-color) 10%,
    var(--primary-color) 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon {
  text-decoration: none;
  color: inherit;
}

.hidden {
  opacity: 0;
  transform: translateY(200px);
  filter: blur(5px);
  transition: transform 0.5s, filter 0.4s;
}

.show {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
  transition: transform 0.5s ease-in-out;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

@keyframes fall-1 {
  0% {
    transform: translate(0px, 0px) rotateX(60deg) rotateY(10deg) rotateZ(0deg)
      scale(0.25);
    opacity: 1;
  }

  5% {
    transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg)
      rotateZ(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg)
      rotateZ(90deg) scale(1);
    opacity: 0.3;
  }
}

@keyframes fall-2 {
  0% {
    transform: translate(0px, 0px) rotateX(-30deg) rotateY(20deg) scale(0.25);
    opacity: 0;
  }

  10% {
    transform: translate(-10px, -5px) rotateX(-30deg) rotateY(20deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-10px, 160px) rotateX(-120deg) rotateY(65deg)
      scale(0.25);
    opacity: 0;
  }
}

@keyframes fall-3 {
  0% {
    transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
    opacity: 0;
  }

  15% {
    transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg)
      scale(0.5);
    opacity: 0;
  }
}

@media only screen and (max-width: 786px) {
  .container {
    width: 90%;
  }

  body {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .container {
    width: 70%;
  }
}

@media only screen and (min-width: 1921px) {
  .container {
    width: 40%;
  }
}
