@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@theme {
  --font-source-code: "Source Code Pro", sans-serif;
  --color-primary: #f6f1d5;
  --color-space: #0e0e0e;
  --color-secondary: #27272a;
}

@layer base {
  body {
    @apply font-source-code bg-space text-lg;

    color: white;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  button,
  a[role="button"] {
    @apply p-2 rounded text-black cursor-pointer bg-primary;
  }

  button:hover,
  a[role="button"]:hover {
    @apply bg-amber-100;
  }

  section {
    @apply my-16;
  }
}

@media (prefers-reduced-motion: reduce) {
  .animate-pulse {
    animation: none !important;
  }
  [style*="animation: shoot"] {
    animation: none !important;
  }
}
